* {
  padding: 0;
  margin: 0;
}
.second {
  height: 80vh;
  background-image: url("./bg1.gif");
}
.btn {
  text-decoration: none;
  color: #effffd;
}
.btn:hover {
  color: #000000;
}
.top {
  width: 100vw;
  height: 70px;
  background-color: #42c2ff;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #092f87;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 75px;
  font-family: "Caveat", cursive;
}
.nav {
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}
.link {
  text-decoration: none;
  color: #000000;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.link:hover {
  color: #effffd;
}
.intro {
  background-color: #ffffff;
  width: 50%;
  font-size: 50px;
  margin-top: 10%;
  margin-left: 5%;
  font-family: "Play", sans-serif;
  color: #062751;
  height: 250px;
}
.photo {
  margin-top: 10%;
  margin-right: 5%;
}
button {
  font-family: "Play", sans-serif;
  font-size: 22px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #092f87;
  color: white;
  border: solid #ffbc48;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #42c2ff;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}
button:hover {
  color: #000000;
}

button:active {
  transform: scale(0.97);
}
.buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 55%;
  margin-right: 5px;
}
.sub1 {
  display: flex;
  justify-content: space-around;
  height: 71%;
}
.sub2 {
  width: 40%;
  margin-left: 12%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
}
.wel {
  font-weight: bold;
  color: #092f87;
}
.footer {
  margin-top: 1%;
  width: 100vw;
  height: 7%;
  background-color: #42c2ff;
  text-align: center;
  font-family: "Changa", sans-serif;
  font-size: 20px;
  padding-top: 12px;
}
